.App {
  text-align: center;
  width: 80vw;
  margin: 0 auto;
}


.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-header  a {
  color: lightslategray;
  text-decoration: none;
}

.Chart-grid-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin: 30px auto;
  width: 70%;
}

.Chart-grid-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  margin: 30px auto;
  width: 100%;
}

.Chart-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
  width: 70%;
  height: 300px;
  background-color: #001a30;
  color: #ffffff;
  margin: 30px auto;
  padding: 20px;
}

.Chart-summary-amount {
  color: #3dc5f3;
  font-size: 28pt;
  font-weight: 600;
}

.Chart-summary-title {
  color: #ffffff;
  font-size: 13pt;
  font-weight: bold;
}

.Chart-summary-amount-label {
  color: lightgray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

select {
  font-size: 20px;
  margin-left: 12px;
}